
.App {
  min-height: 100vh;
  font-size: 1.3em;
  background-image: url(../../Images/posters_img.png);
  background-color: #000000;
  box-shadow: inset 0px 0px 20px 20px #000000;
  background-attachment: fixed;
}
