@keyframes ldio-gbszwsaxote {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-gbszwsaxote div {
  /* position: fixed; */
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid #9fff03;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-gbszwsaxote div {
  animation: ldio-gbszwsaxote 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-mnev96aggsf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-gbszwsaxote {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gbszwsaxote div {
  box-sizing: content-box;
}

.spinner {
  position: fixed;
  left: calc(50vw - 100px);
  top: 15vh;
}
