.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 5px;
  color: #d3d3d3;
  font-weight: 300;
  margin: 20px 0;
  box-shadow: 0 -20px 20px #3d3d3dd5, 0 20px 20px #3d3d3dd5;
}

.description {
  position: relative;
  font-size: 0.8em;
  padding: 25px 0;
  width: 600px;
}

.description h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

.description p {
  padding-left: 5px;
  margin: 0.4em;
}

.description b {
  color: #757575;
}

.poster img {
  width: 320px;
  height: 470px;
  mask-image: linear-gradient(to right, transparent 1%, black 30%);
}

.close {
  cursor: pointer;
  position: absolute;
  color: #ffffffa2;
  left: 4px;
  top: 4px;
}

.close:hover {
  color: #3fff05;
}
