.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 5px;
  color: #d3d3d3;
  font-weight: 300;
  margin: 90px 0;
  box-shadow: 0 -50px 20px #000000d5, 0 50px 20px #000000d5;
}
.description {
  font-size: 0.8em;
  padding: 25px 0;
}
.description h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
.description p {
  padding-left: 5px;
  margin: 0.4em;

}
.description b {
  color: #757575;
}

.poster-img img {
  width: 320px;
  mask-image: linear-gradient(to right, transparent 1%, black 30%);
}
