.list-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
img {
  vertical-align: bottom;
  width: 160px;
  height: 225px;
  background-position: center;
  background-size: contain;
}
.list-movies p {
  font-size: 0.55em;
  margin: 0;
  color: #d3d3d3;
}
.list-element {
  text-align: center;
  box-shadow: 0 0 25px 15px #3d3d3dd5;
  width: 160px;
  margin: 10px;
}
.list-element:hover {
  box-shadow: 0 0 25px 15px #95da95d5;
}
.title-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f0f0f;
  padding: 0 5px;
  height: 80px;
  position: relative;
}
.like-icon {
  position: absolute;
  color: #ffffffa2;
  right: 4px;
  top: 255px;
  box-shadow: 0 0 20px 2px #000000;
}
.like-icon:hover {
  color: #3fff05;
}
